*{
    margin: 0px;
    padding: 0px;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 2rem;
    background-color: rgb(5, 5, 83);
    color: white;
}

header h2 i{
    padding-right: 0.5rem;
}

header button, #search-button {
    background-color: rgb(5, 5, 83);
    border: none;
    color: white;
}

.create-button {
    padding: 0.5rem;
    border-radius: 20px;
    background-color: blue;
    width: 5rem;
}

header input, #search-input {
    border-radius: 20px;
    padding: 0.5rem;
    border: none;
}

.user-wrap {
    display: flex;
    align-items: center;
}

.user-wrap img{
    border-radius: 20px;
    width: 40px;
    height: 40px;
    padding-right: 0.5rem;
}

main {
    display: grid;
    background-color: rgb(207, 203, 203);
    min-height: 90vh;
}

main * {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.cards {
    display: grid;
    grid-template-columns: 1fr repeat(2, 2fr);
    gap: 1rem;
}

.card {
    margin-top: 0.5rem;
    background-color: white;
    height: fit-content;
    min-height: 30vh;
}

.card h3 {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card * {
    padding-top: 0.25rem;   
}

.modal {
    padding: 1em;
    max-width: 50ch;
    min-width: 20ch;
    margin: auto;
}

.modal-content form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-content form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-content form input, select {
    padding: 0.25rem 0.25rem;
    border-radius: 10px;
    width: 60%;
}

.modal-content form div button {
    width: 40%;
    margin: 0 20px;
}

.single-task {
    display: grid;
    grid-template-columns: 0.5fr 7fr 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    margin-bottom: 0.25rem;
    /* cursor: pointer; */
}

.task-due-date {
    grid-column: 2/3;
}

.task-done {
    text-decoration-line: line-through;
}

.span-right {
    float: right;
}

.high {
    border: 1px solid red;
}

.medium {
    border: 1px solid green;
}

.list-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-delete-icon {
    display: flex;
    align-items: center;
}

#search-bar-div {
    background-color:  rgb(5, 5, 83);
    padding: 0.5rem;
}